.footer {
  background-color: #3B301B;
  padding: 50px;
}

.footer .container p {
  color: white;
  font-size: 12px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline {
  display: inline;
  padding: 6px;
  font-size: 24px;
}

.list-inline a{
  color: white;
}


